*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDE
.idea/

# Compose Multiplatform / KMP
**/build/
.kotlin/
.worktrees/

# iOS / Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/
DerivedData/
